
.dashboard-content{
    width: 232px;
    height: 36px;
    display: flex;
    align-items: center;
}
.admin-other{
    width: 232px;
    height: 36px;
    border-radius: 0px;

}

.dashboard-content-left{
    align-items: center;

    display: flex;
    gap: 10px;
    /*width: 100px;*/
    height: 20px;
    margin-left: 3px;
}
.dashboard-content-left a {
    text-decoration: none;
}
.dashboard-whole{
    text-decoration: none;
}

.dashboard-content:hover{
    background-color:rgba(246, 248, 250, 1);
    color: rgba(53, 109, 0, 1);
}
.footer-nibss-copyright{
    /*margin-right: 30px;*/
    /*margin-left: 30px ;*/
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    left: 47%;
    display: flex;
    justify-content: center;
    color: #0a0d14;
}

.form {
    width: 100%;
    margin: auto;
}

.form-group {
    margin-bottom: 5px;
}

.form-group-label {

}

.form-group-input {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    border-radius: 8px;
    padding: 5px 20px;
    color: #3c4a57;
    border: 1px solid #e4e8ee;
    box-shadow: none;
    width: 100%;
}

.form-group-input:focus {
    outline: none;
}

.form-group-input::placeholder {
    color: #3c4a57;
    font-weight: 400;
    font-size: 14px;
}